.article  {
    position: absolute;
    font-family: 'Avenir Next';
    color: #444;
    /* transition: all 0.2s ease-out; */
}
.article section {
    padding-bottom: 60px;
}

.article h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #4cb5ae;
    font-size: 8em;
    padding-bottom: 40px;
    margin: 120px 120px 0 120px;
}

.article h2 {
    color: #274044;
    font-size: 1.5em;
    padding-bottom: 40px;
    margin: 0 120px 0 120px;
}

.article h3 {
    font-size: 0.8em;
    text-transform: uppercase;
    padding-bottom: 40px;
    margin: 0 120px 0 120px;
}

.article p {
    color: #777;
    padding-bottom: 100px;
    font-size: 0.8em;
    margin: 0 120px 0 120px;
}

.article img {
    width: 100%;
    transition: none;
}

.half {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 0 120px 0 120px;
}

.half *, .half p, .half h3 {
    margin: 0;
}

.half img {
    width: 100%;
    height: auto;
    /* padding-right: 60px; */
}

.article img:hover {
    transform: none;
}


.article .overlay {
    position: relative;
}

.article .overlay img {
    position: absolute;
    padding-bottom: 120px;
}
.article .overlay .over {
    transition: 0.1s ease-in;
    opacity: 0;
}

.article .overlay .over:hover {
    opacity: 1;
}

.article a {
    display: flex;
    justify-content: space-evenly;
}