.descript {
    position: absolute;
    display: grid;
    grid-template-columns: 15vw 2fr;
    grid-template-rows: 25vh 1fr 1fr;
    transition: all 0.2s ease-out;
}

.descript .title {
    color: #6A6A6A;
}

.descript .title h2 {
    font-size: 72px;
    color: #4cb5ae;
    font-family: Arial;
    font-weight: bold;
}

.descript .title p {
    font-size: 0.8em;
}

.descript .right {
    margin: 0 0 0 80px;
    width: 400px;
    grid-row: 2/3;
}

.descript .content {
    padding-bottom: 30px;
}

.descript img {
  max-height: 40vw;
  max-width: 20vw;
  grid-row: 1/4;
}