.descript {
    min-width: 400px;
    grid-row: 2/3;
    transition: all 0.5s ease-out;
}

.descript h2 {
    font-family: 'Noteworthy';
    font-size: 2em;
    color: #99886B;
}

.descript img {
    max-height: 80%;
    max-width: 25vw;
    grid-row: 1/4;
    margin: auto;
}

.descript .subtitle {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10px;
    color: #aaa;
}