.page {
    height: 100%;
}

/* Wrapper setup */

.page .wrapper {
    position: relative;
    height: 80vh;
}

.page .wrapper .tile {
    position: absolute;
    background-color: #FCFCF7;
    height: 30%;
    width: 100vw;
    box-shadow: inset 0 0 10px #222;
    border-radius: 20px;
}

.page .wrapper .tile.top {
    z-index: -1;
    top: 0;
}
.page .wrapper .tile.bottom {
    z-index: 10;
    bottom: 0;
}


/* Content */

.page .wrapper .contentWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

.page .wrapper .contentWrapper button {
    position: absolute;
    left: 40%;
    top: 60%;
    z-index: 10;
    transition: all 0.2s ease-out;
}