.page {
    font-family: 'Avenir Next';
    font-size: 20px;
    color: #3e3e3e;
    transition: all 0.2s ease-out;
    height: 100%;
}

.tile {
    position: absolute;
    width: 100%;
    top: 25%;
    height: 50%;
    background-color: #fff;
    transition: all 0.2s ease-out;
    scrollbar-color: none;

    border-top: 2px solid #EFEDE7;
    border-bottom: 2px solid #EFEDE7;

}

.tile.showarticle {
    top: 0;
    height: 100%;
    overflow-x: scroll;
}

.page button {
    position: absolute;
    margin-left: 20vw;
    margin-top: 25vw;
    z-index: 10;
    transition: all 0.2s ease-out;
}

.page button p {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #eee;
    border-radius: 8px;
    border: 2px solid #EFEDE7;
}

.page .top {
    margin-left: -40px;
    margin-top: 0;
}
.page .top p {
    border-radius: 0 0 8px 8px;
}


.page .hide {
    opacity: 0;
    z-index: -1;
}

.page .wrapper {
    position: relative;
    margin-bottom: 300px;
    width: 100%;
    height: 70vh;
}

.page .contentwrapper {
    margin-left: 50vw;
}

.page h2 {
    position: absolute;
    font-size: 72px;
    color: #4cb5ae;
    font-family: Arial;
    font-weight: bold;
    margin-left: 20vw;
    vertical-align: middle;
    
}