* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #3e3e3e;
  font-size: 24px;
}

#navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 80px;
  background-color: #ffd483;
  padding: 0px 80px 0px 80px;
}

#navbar h1 {
  /* position: fixed; */
  font-family: "Baskerville";
  width: 50vw;
  float: left;
  font-weight: lighter;
  font-size: 120px;
}

#buttons {
  position: fixed;
  padding: 20px 40px 10px 10px;
  right: 0px;
}

#navbar button {
  font-family: 'Avenir Next';
  font-size: 30px;
  font-weight: regular;
  width: 220px;
  color: #555;
  background: none;
  border: none;
}

#navbar button.active {
  
}

#highlight {
  position: fixed;
  height: 4px;
  width: 220px;
  background-color: #FDB717;
  margin-top: 44px;
  margin-right: 40px;
  z-index: -1;

  transition: all 0.1s ease-out;
}

#bottomline {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 10px;
  width: 100vw;
  background-color: #ffd483;
}

.title {
  position: fixed;
  left: 20vw;
  top: 18vw;
  background-color: lavender;
  
}

.title p {
  font-family: 'Courier New', Courier, monospace;
  /* font-weight: bold; */
}
#intro {
  margin-left: 20vw;
  margin-top: 240px;
  font-size: 1.3em;
  font-family: 'Avenir Next';
}

#intro p {
  text-align: right;
  float: left;
  margin-right: 20px;
  font-family: 'Avenir Next';
  font-weight: normal;
}

#intro ul {
  float: left;
  list-style: none;
  color: #fff;
}

#intro li {
  transition: all 0.4s ease-in;
  opacity: 0;
  margin-top: -10px;
}

#intro li.show {
  opacity: 1;
  margin-top: 0px;
}

#intro li:nth-child(2) { transition-delay: 0.1s; }
#intro li:nth-child(3) { transition-delay: 0.2s; }
#intro li:nth-child(4) { transition-delay: 0.3s; }
#intro li:nth-child(5) { transition-delay: 0.4s; }


.content {
  position: static;
  top: 80px;
  height: 1000px;
  width: 100vw;
  padding: 90px;
}

.content ul {
  float: left;
}

/* styled classes */